/*Uses Bootstrap*/

body {
  padding: 20px;
  background-color: var(--bs-yellow);
}
#calcContainer {
  border: var(--bs-gray-300) 3px outset;
  background-color: var(--bs-gray-100);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}
.col {
  border: var(--bs-gray-200) 1.5px outset;
  border-radius: 3px;
  background-color: white;
  margin: 1px;
  padding: 5px;
  cursor: pointer;
}
.outputField {
  border: var(--bs-gray-400) 1.5px inset;
  border-radius: 1px;
  background-color: var(--bs-gray-300);
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  overflow: auto;
}
.memEffect{
  background-color: var(--bs-gray-700);
  border-color: var(--bs-gray-700);
  color: white;
}
#clear {
  background-color: var(--bs-red);
  border-color: var(--bs-red);
  color: white;
}
p {
  text-align: center;
}
#identifier {
  color: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
