table {
  border: 1px solid black;
  border-collapse: collapse;
  background: whiteSmoke;
}
.blank {
  background-color: gainsboro;
}
.weekday {
  height: 14px;
}
td {
  height: 75px;
  vertical-align: top;
  text-overflow: clip;
}
th {
  border: 1px solid black;
  width: 100px;
}
div {
  background-color: lightBlue;
  text-align: center;
  text-overflow: clip;
}
